<div class="row d-flex ">
    <div class="btn-group btn-group-vertical col-2 "> 
        <a
            href="/Compare/Odds/MatchWinner/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            Match W
        </a>  
        <a
            href="/Compare/Odds/HomeAway/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            Home/Away
        </a>  
        <a
            href="/Compare/Odds/ResultTotalGoals/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            W / TGoals
        </a>  
        <a
            href="/Compare/Odds/ResultBTTS/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            W / BTTS 
        </a>   
    </div>
    <div class="btn-group btn-group-vertical col-2 ">  
        <a
            href="/Compare/Odds/DoubleChance/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            DC
        </a>   
        <a
            href="/Compare/Odds/DoubleChanceFirst/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            DC - 1st
        </a>  
        <a
            href="/Compare/Odds/HTFTDoubleChance/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            HT/FT DC 
        </a>  
    </div>
    <div class="btn-group btn-group-vertical col-2 ">    
        <a
            href="/Compare/Odds/FirstWinner/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            1st W
        </a>   
    </div>
    <div class="btn-group btn-group-vertical col-2 ">    
        <a
            href="/Compare/Odds/SecondWinner/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            2nd W
        </a>   
    </div>


    <div class="btn-group btn-group-vertical col-2 "> 
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            Ah 1.5 
        </a>  
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            Ah 2.5 
        </a>  
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            Ah 3.5 
        </a>  
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            Ah 4.5
        </a>  
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            Ah 5.5
        </a>  
    </div>

    <div class="btn-group btn-group-vertical col-2 "> 
        <a
            href="/Compare/Odds/OverUnder15/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            OU 1.5
        </a>  
        <a
            href="/Compare/Odds/OverUnder25/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            OU 2.5
        </a>  
        <a
            href="/Compare/Odds/OverUnder35/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            OU 3.5
        </a>  
        <a
            href="/Compare/Odds/OverUnder45/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            OU 4.5
        </a>  
    </div>

    <div class="btn-group btn-group-vertical col-2 "> 
        <a
            href="/Compare/Odds/BTTS/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            BTTS
        </a>   
        <a
            href="/Compare/Odds/CleanHome/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            CS Home
        </a>   
        <a
            href="/Compare/Odds/CleanAway/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            CS Away
        </a>  
        <a
            href="/Compare/Odds/BTTSFirst/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            BTTS 1st
        </a>  
        <a
            href="/Compare/Odds/BTTSSecond/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            BTTS 2nd
        </a>  
    </div>
    <div class="btn-group btn-group-vertical col-2 "> 
        <a
            href="/Compare/Odds/TotalGoalsBTTS/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            TGoals / BTTS
        </a>  
    </div>
    <div class="btn-group btn-group-vertical col-2 "> 
        <a
            href="/Compare/Odds/TotalHome/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            Total - Home 
        </a>  
        <a
            href="/Compare/Odds/TotalAway/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">  
            Total - Away 
        </a> 
        <a
            href="/Compare/Odds/ExactGoals/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">  
            Ext Goal
        </a> 
        <a
            href="/Compare/Odds/ExactHome/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">  
            Home - Ext G
        </a> 
        <a
            href="/Compare/Odds/ExactAway/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">  
            Away - Ext G 
        </a> 
        <a
            href="/Compare/Odds/ExactFirst/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">  
            First - Ext G
        </a> 
        <a
            href="/Compare/Odds/ExactSecond/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">  
            Second - Ext G
        </a> 
    </div>
    
    <div class="btn-group btn-group-vertical col-2 "> 
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            Cards EH
        </a>  
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            Cards OU
        </a>  
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            Cards Ah
        </a>  
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            Home - Cards 
        </a>  
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            Away - Cards  
        </a>  
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            RCARD
        </a>  
    </div>
    <div class="btn-group btn-group-vertical col-2 "> 
        <a
            href="/Compare/Odds/CornerOverUnder/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            ">
            Corners OU 
        </a>   
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            Corners Ah
        </a>   
        <a
            href="/Compare/Odds/CornerHome/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            Home Corners OU 
        </a>   
        <a
            href="/Compare/Odds/CornerAway/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            Away Corners OU 
        </a>   
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            Last Corner 
        </a>   
        <a
            href="/Compare/Odds/OnlyPre/{{ .pattern_region }}/{{ .pattern_type}}/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
            "> 
            First Corner 
        </a>   
    </div>
</div> 
 
