<div class="row mb-4">
    <div class="col-12 text-center">
        <div class="btn-group">
            <a
                href="/Leagues/Today/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary
                                ">
                Match Winner
            </a> 
            <a
                href="/Leagues/Today/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary
                                ">
                Asian Handicap
            </a> 
            <a
                href="/Leagues/Today/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary
                                ">
                Over Under
            </a> 
            <a
                href="/Leagues/Today/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary
                                ">
                Both Teams Score
            </a> 
        </div>
    </div>
</div>