<div class="row d-flex justify-content-center ">
    <div class="btn-group col-12 text-center justify-content-center "> 
        <a
            href="/PatternFromCountry/OnlyPre/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
                                ">
            Country Only Pre
        </a>
        <a
            href="/PatternFromCountry/PrePre/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
                                ">
            Country Pre Pre
        </a>
        <a
            href="/PatternFromCountry/OnlyEnd/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
                                ">
            Country Only End
        </a>
        <a
            href="/PatternFromCountry/PreEnd/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
                                ">
            Country Pre End
        </a>
        <a
            href="/PatternFromWorld/OnlyPre/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
                                ">
            World Only Pre
        </a>
        <a
            href="/PatternFromWorld/PrePre/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
                                ">
            World Pre Pre
        </a>
        <a
            href="/PatternFromWorld/OnlyWorld/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
                                ">
            World Only End
        </a>
        <a
            href="/PatternFromWorld/PreWorld/{{ .leagueapi_id }}/{{ .season }}/{{ .fixtureapi_id }}"
            class="p-2 rounded
                                ">
            World Pre End
        </a>
    </div>
</div>