<div class="row mb-4">
    <div class="col-12 text-center">
        <div class="btn-group">
            <a
                href="/Leagues/Today/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary
                ">
                Goals
            </a>
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                halftime
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                secondtime
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                fulltime
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                lineup
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                shots on 
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                shots off 
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                total shots 
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                blocked shots 
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                shots inside 
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                shots outside 
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                fouls 
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                corner kicks 
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                offsides 
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                Yellow 
            </a> 
            <a
                href="/Leagues/Notstarted/{{ .leagueapi_id }}/{{ .season }}"
                class="btn btn-sm btn-secondary  
                {{ if eq .Title "League Not Started" }} 
                    active
                {{ end }}
                ">
                Red 
            </a> 
        </div>
    </div>
</div>